<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="LocalSqlServer" connectionString="data Source=.\SQLEXPRESS,1433;User ID=HMSserver;Password=123456;initial catalog=HMS" />
        <add name="DESKTOP-TCE86V6HMS" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-PHGROS87,1433;user id=HMSserver;password=123456;initial catalog=HMS;Persist Security Info=true" />
    </connectionStrings>
</configuration>