<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-TCE86V6HMS" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-TCE86V6,1433;user id=HMSserver;password=123456;initial catalog=HMS;Persist Security Info=true" />
    </connectionStrings>
</configuration>