<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_AdventureWorksLT2014_Connection" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=AdventureWorksLT2014" />
        <add name="localhost_HMS_Connection" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=HMS" />
        <add name="localhost_HMS_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=HMS" />
        <add name="localhost_HMS_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=HMS" />
        <add name="Repor_HMS_Connection " connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=HMS" />
        <add name="ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=HMS" />
    </connectionStrings>
</configuration>